# Caminho relativo (a partir da raiz do projeto) para a pasta 'resources'
# do fork do uesp-esochardata, incluído como submódulo git em vendor/.
UESP_RESOURCES_PATH=./vendor/uesp-esochardata/resources
