[submodule "vendor/uesp-esochardata"]
	path = vendor/uesp-esochardata
	url = https://github.com/srtomy/uesp-esochardata.git
[submodule "vendor/uesp-esolog"]
	path = vendor/uesp-esolog
	url = https://github.com/uesp/uesp-esolog.git
